footer {
    height: 350px;
    background: rgba(23, 22, 22, 0.9);
    font-size: 1.2rem;
    text-align: center;
    z-index: -6;
    position: absolute;
    width: 100%;
    padding-top: 15vh;
    margin-top: -13vh;

}


.mainRow {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    align-content: center;

}

.copyRight {

    display: flex;
    justify-content: center;
    font-family: 'Kalam', cursive;
    letter-spacing: 2px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.socialLinks {

    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}

.Logo {
    height: 140px;
    width: 160px;
}

.socialLinks ul {
    list-style-type: none;
    padding-inline-start: 0;
    display: flex;

}

.footer-nav li,
.socialLinks ul li {
    margin-right: 20px;
}

.socialLinks ul li:last-child {
    margin-right: 0; /* for the last icon at the row */
}

.socialLinks ul li a {
    cursor: pointer;

}

.socialLinks ul li a:link,
.socialLinks ul li a:visited {
    position: static;
    z-index: 434 !important;
    text-decoration: none;
    border: 0;
    color: #ffffff;
    transition: color 0.2s;
}

.socialLinks ul li a:link,
.socialLinks ul li a:visited {
    font-size: 160%;
}

.ionSocialFacebook,
.ionSocialLinkedIn,
.ionSocialGitHub {
    transition: color 0.2s;
}

.ionSocialFacebook:hover {
    color: #3b5998;
}

.ionSocialLinkedIn:hover {
    color: #00aced;
}

.ionSocialGitHub:hover {
    color: #b7d0e0;
}

.Resume {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.Resume a {
    font-family: 'Kalam', cursive;
    color: #fff;
}

.Plank {
    white-space: nowrap;
}

.BreakLine {
    display:none ;
}

footer p {
    color: white;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    footer {
        height: 400px;
    }
    .mainRow {
        flex-direction: column;
        align-items: center;
    }
    .copyRight {
        margin: 0 30px;
    }
    .BreakLine {
        display:inline ;
    }
}
