/*. {*/
/*    scroll-snap-align: start;*/
/*}*/


.Info {
    padding: 30vh 70px 0 40px;
    color: black;
    font-family: 'Shadows Into Light', cursive;
    /*clip-path: polygon(0 0, 75% 0, 100% 50%, 0% 100%);*/
}


.AboutMeSection {
    height: 120vh;
    margin-top: -30vh;
    background-image: linear-gradient(to right, #cecece, #8d8d8a);
    /*scroll-snap-align: start;*/
}

.AboutMeSection h2 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 2.5rem;
}

.AboutMeSection p {
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 2rem;
}


/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {

    .AboutMeSection h2 {
        font-size: 2.2rem;
    }

    .AboutMeSection p {
        font-size: 1.4rem;
    }
}

