/*. {*/
/*    scroll-snap-align: start;*/
/*}*/


.Info {
    padding: 30vh 70px 170px 40px;
    color: black;
    font-family: 'Shadows Into Light', cursive;

}


.AboutMeSection {
    margin-top: -30vh;
    background-image: linear-gradient(to right, #cecece, #f6f6f6);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 85%, 0 100%);
    position: relative;
    z-index: -1;
    padding-top: 30px;
    /*scroll-snap-align: start;*/
}

.AboutMeSection h2 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 2.5rem;
}

.AboutMeSection p {
    font-family: 'Kalam', cursive;
    font-weight: 300;
    font-size: 2rem;
}


/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {

    .AboutMeSection h2 {
        font-size: 2.2rem;
    }

    .AboutMeSection p {
        font-size: 1.4rem;
    }

}

